.accItems{
	background-color: #f8f8f8;
 border: 1px solid #e7e7e7;
  margin:20px;
  padding:10px;
  cursor:pointer;
}
.acc-desc{
	 padding:20px;
    transition: height 1s linear;

    background-color: #abcdac;
    margin: -20px 20px 20px 20px;

}
.iDoList li{
list-style-type:none;
 }
